body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.clearfix:after {
    content: "";
    width: 100%;
    display: block;
    clear: both;
}
.container {
    width: 1280px;
    margin: 0 auto;
    background-color: #ffffff;
}

.main-header {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background-color: #445162;
}

.main-header-wrapper {
    float: left;
    width: 458px;
}

.main-header-title {
    display: inline-block;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    margin: 0 0 50px 0;
}

.main-header-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-header-list li:last-child {
    margin: 0;
}

.main-header-list-text {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
    list-style-position: inside;
    position: relative;
    padding: 0 0 0 35px;
}

.main-header-list-text:before {
    content: "";
    width: 25px;
    height: 19px;
    background-image: url(img/check_icon.png);
    -webkit-background-size: cover;
    background-size: cover;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    left: 0px;
    top: 3px;
}

.header-img {
    float: right;
}

.about {
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
}

.about-product {
    float: left;
    width: 653px;
}

.about-product-title {
    display: inline-block;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin: 0 0 30px 0;
}

.about-product-text {
    margin: 0 0 20px 0;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
}

.about-product-text:last-child {
    margin: 0;
}

.about-product-video {
    float: right;
}

.dignity {
    padding: 50px;
    background-color: #f5f5f5;
    width: 100%;
    box-sizing: border-box;
}

.name {
    display: block;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin: 0 0 35px 0;
    text-align: center;
}

.dignity-list {
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

.dignity-list-item {
    width: 526px;
    margin: 0 0 35px 0;
    padding: 0 0 0 41px;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    float: left;
    text-align: justify;
}

.dignity-list-item:before {
    content: "";
    width: 32px;
    height: 32px;
    background-color: #445161;
    background-image: url(img/li-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: 0;
    top: 6px
}

.dignity-list-item:nth-child(2n) {
    float: right;
}

.dignity-list-item:nth-last-child(-n+2) {
    margin: 0;
}

.screenshot {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

.screenshot-desc {
    margin: 0 0 30px 0;
    width: 574px;
    display: block;
    float: left;
}

.screenshot-desc:nth-child(2n) {
    margin-right: 26px;
}
.screenshot-desc:nth-last-child(-n+2) {
	margin-bottom: 0;
}
.screenshot-img {
    display: block;
    float: left; 
}

summary:focus {
    outline: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #445161;
}

summary:hover {
    cursor: pointer;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.screenshot-details {
    width: 350px;
    padding: 0 0 0 15px;
    display: inline-block;
    float: right;
}

.screenshot-summary-title {
    width: 100%;
    padding: 0 0 15px 0;
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.screenshot-summary-text {
    width: 100%;
    margin: 0;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    float: left;
    text-align: justify;
    display: inline-block;
}
.reviews {
    width: 100%;
    box-sizing: border-box;
    background-color: #f5f5f5;
    padding: 50px;
}
