.button {
  display: inline-block;
  font-family: 'Raleway-ExtraBold';
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: '@spacing';
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  background-color: #998675;
  padding: 15px;
  width: 140px;
  text-align: center;
  transition: background-color 0.4s ease-out;
}
/*
.text-style('@family', '@size', '@weight', '@height', '@spacing', '@color', '@transform', '@decoration');
*/
@font-face {
  font-family: 'Montserrat-UltraLight';
  src: url('../font/Montserrat/Montserrat-ExtraLight.ttf');
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../font/Montserrat/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url('../font/Raleway/Raleway-ExtraBold.ttf');
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('../font/Raleway/Raleway-SemiBold.ttf');
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url('../font/Raleway/Raleway-Bold.ttf');
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url('../font/Raleway/Raleway-Medium.ttf');
}
@font-face {
  font-family: 'Raleway';
  src: url('../font/Raleway/Raleway-Regular.ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto/Roboto-Regular.ttf');
}
body {
  margin: 0;
  padding: 0;
}
.container {
  width: 1920px;
  margin: 0 auto;
  padding: 0;
}
.main-header {
  width: 100%;
  padding: 30px 150px;
  box-sizing: border-box;
  background-image: url(../img/head-back.jpg);
  background-repeat: no-repeat;
  background-color: black;
  box-shadow: 0 0 0 600px rgba(0, 0, 0, 0.66) inset;
}
.control-panel {
  width: 1170px;
  margin: 0 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.logo {
  width: 185px;
  margin: 0 220px 0 228px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.logo-icon {
  fill: #fff;
  transition: fill 0.2s ease-out;
}
.logo-name {
  font-family: 'Raleway';
  font-size: 34px;
  font-weight: 100;
  line-height: '@height';
  letter-spacing: -1.36px;
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
  margin: 0;
  transition: color 0.2s ease-out;
}
.logo:hover .logo-name {
  color: #c7b299;
}
.logo:hover .logo-icon {
  fill: #c7b299;
}
.logo:active .logo-name {
  color: #fff;
}
.logo:active .logo-icon {
  fill: #fff;
}
.link-home {
  display: block;
  text-decoration: none;
}
.menu {
  display: flex;
  width: 770px;
}
.menu-list {
  width: 637px;
  margin: 0 63px 0 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.menu-link {
  text-decoration: none;
  padding: 35px 0;
}
.menu-data {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: '@height';
  letter-spacing: '@spacing';
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: '@decoration';
  transition: color 0.2s ease-out;
}
.menu-data:hover {
  color: #c7b299;
}
.menu-data:active {
  color: #fff;
}
.button-cart {
  border: none;
  background-color: transparent;
  outline: none;
}
.icon-cart {
  fill: #fff;
  margin: 0 28px 0 0;
  padding: 30px 0;
  transition: fill 0.2s ease-out;
}
.icon-cart:hover {
  fill: #c7b299;
  cursor: pointer;
}
.icon-cart:active {
  fill: #fff;
  cursor: pointer;
}
.search-form {
  height: 30px;
  width: 30px;
}
.search-input {
  width: 100%;
  height: 100%;
  margin: 30px 0;
  padding: 5px;
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: '@weight';
  line-height: '@height';
  letter-spacing: '@spacing';
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: '@decoration';
  background-color: transparent;
  background-image: url(../img/icon-search.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  border-radius: 10px;
  border-color: transparent;
  outline: none;
  transition: width 1s ease-out, background-color 1s ease-out;
}
.search-input:hover {
  cursor: pointer;
}
.search-input:focus {
  width: 180px;
  box-sizing: border-box;
  background-image: url(../img/icon-search.png);
  background-position: right;
  background-color: #555;
}
.slide {
  max-width: 590px;
  margin: 285px auto 0;
  text-align: center;
  position: relative;
}
.left-button {
  position: absolute;
  top: 94px;
  left: -475px;
  fill: #d1bfab;
  transition: fill 0.2s ease-out;
}
.right-button {
  position: absolute;
  top: 94px;
  right: -475px;
  fill: #d1bfab;
  transition: fill 0.2s ease-out;
}
.left-button:hover {
  fill: #555555;
}
.right-button:hover {
  fill: #555555;
}
.left-button:active {
  fill: #d1bfab;
}
.right-button:active {
  fill: #d1bfab;
}
.slide-name {
  font-family: 'Raleway';
  font-size: 36px;
  font-weight: 500;
  line-height: '@height';
  letter-spacing: '@spacing';
  color: #ffffff;
  text-transform: '@tranform';
  text-decoration: '@decoration';
  margin: 0 0 14px 0;
}
.slide-title {
  font-family: 'Raleway-ExtraBold';
  font-size: 52px;
  font-weight: 400;
  line-height: '@height';
  letter-spacing: '@spacing';
  color: #ffffff;
  text-transform: '@transform';
  text-decoration: '@decoration';
  margin: 0 0 19px 0;
}
.slide-text {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: '@spacing';
  color: #ffffff;
  text-transform: '@transform';
  text-decoration: '@decoration';
  margin: 0 0 52px 0;
}
.get-started {
  display: inline-block;
  font-family: 'Raleway-ExtraBold';
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: '@spacing';
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  background-color: #998675;
  padding: 15px;
  width: 140px;
  text-align: center;
  transition: background-color 0.4s ease-out;
}
.get-started:hover {
  background-color: #111111;
}
.get-started:active {
  background-color: #998675;
}
.pagination {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 260px auto 0;
}
.circle {
  display: inline-block;
  width: 11px;
  height: 11px;
  border: 4px solid transparent;
  border-radius: 50%;
  background-color: #999898;
  transition: background-color 0.2s ease-out, transform 0.2s ease-out;
}
.circle:hover {
  border: 4px solid #d3c1ad;
  background-color: transparent;
  transform: scale(1.5);
}
.circle:active {
  border: 4px solid transparent;
  background-color: #999898;
}
.services {
  width: 1166px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  margin: 80px 375px;
}
.services:hover {
  cursor: pointer;
}
.services:active {
  cursor: pointer;
}
.services-cart {
  display: inline-block;
  width: 266px;
  text-align: center;
}
.services-button {
  border: none;
  background-color: transparent;
}
.services-icon {
  fill: #555555;
  margin: 0 0 30px 0;
  transition: fill 0.3s ease-out;
}
.services-title {
  font-family: 'Raleway-SemiBold';
  font-size: 22px;
  font-weight: 400;
  line-height: '@height';
  letter-spacing: '@spacing';
  color: #555555;
  text-transform: capitalize;
  text-decoration: '@decoration';
  margin: 0 0 24px 0;
  transition: color 0.3s ease-out;
}
.services-text {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: '@spacing';
  color: #8c8c8c;
  text-transform: '@transform';
  text-decoration: '@decoration';
  margin: 0;
}
.services-cart:after {
  content: "";
  display: inline-block;
  border: 3px solid #f1eee9;
  width: 70px;
  text-align: center;
  margin: 30px 0 0 0;
  transition: border 0.3s ease-out;
}
.services-cart:hover:after {
  border: 3px solid #c7b299;
}
.services-cart:active:after {
  border: 3px solid #555555;
}
.services-cart:hover .services-icon {
  fill: #c7b299;
}
.services-cart:hover .services-title {
  color: #c7b299;
}
.services-cart:active .services-icon {
  fill: #555555;
}
.services-cart:active .services-title {
  color: #555555;
}
.realization {
  width: 1230px;
  margin: 83px 345px 0 345px;
  text-align: center;
  position: relative;
}
.realization-title {
  font-family: 'Raleway-SemiBold';
  font-size: 30px;
  font-weight: 400;
  line-height: '@height';
  letter-spacing: '@spacing';
  color: #555555;
  text-transform: '@transform';
  text-decoration: '@decoration';
  margin: 0 0 24px 0;
}
.realization-text {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 30px;
  line-height: 28px;
  letter-spacing: '@spacing';
  color: #8c8c8c;
  text-transform: '@transform';
  text-decoration: '@decoration';
  display: inline-block;
  width: 757px;
  margin: 0 0 40px 0;
}
.realization-img1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 240px;
  bottom: 0;
  z-index: -2;
  vertical-align: bottom;
}
.realization-img2 {
  vertical-align: bottom;
}
.realization-img3 {
  position: absolute;
  left: 460px;
  right: 0;
  bottom: 0;
  top: 240px;
  z-index: -2;
}
.purchase {
  width: 100%;
  box-sizing: border-box;
  background-color: #4c3326;
  padding: 50px 375px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.purchase-list {
  width: 530px;
  margin: 0 0 8px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.purchase-link {
  font-family: 'Raleway';
  font-size: 28px;
  font-weight: 400;
  line-height: '@height';
  letter-spacing: '@spacing';
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: '@decoration';
  text-decoration: none;
  color: #fff;
  transition: color 0.2s ease-out;
}
.purchase-link:hover {
  color: #c7b299;
}
.purchase-link:active {
  color: #fff;
}
.purchase-text {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 300;
  line-height: '@height';
  letter-spacing: '@spacing';
  color: #615855;
  text-transform: '@transform';
  text-decoration: '@decoration';
  margin: 0;
}
.purchase-now {
  display: inline-block;
  font-family: 'Raleway-ExtraBold';
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: '@spacing';
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  background-color: #998675;
  padding: 15px;
  width: 140px;
  text-align: center;
  transition: background-color 0.4s ease-out;
  max-height: 20px;
}
.purchase-now:hover {
  background-color: #111111;
}
.purchase-now:active {
  background-color: #998675;
}
.latest {
  width: 100%;
  box-sizing: border-box;
  padding: 80px 375px;
  text-align: center;
}
.latest-head {
  width: 757px;
  margin: 0 auto 40px;
}
.latest-head-name {
  font-family: 'Raleway-SemiBold';
  font-size: 30px;
  font-weight: 400;
  line-height: '@height';
  letter-spacing: '@spacing';
  color: #555555;
  text-transform: capitalize;
  text-decoration: '@decoration';
  text-align: center;
  margin: 0 0 25px;
  padding: 0;
}
.latest-head-text {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: '@spacing';
  color: #8c8c8c;
  text-transform: '@transform';
  text-decoration: '@decoration';
  margin: 0 0 40px 0;
  padding: 0;
}
.latest-head-list {
  width: 605px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.latest-head-link {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: '@spacing';
  color: #8c8c8c;
  text-transform: capitalize;
  text-decoration: none;
  padding: 9px 18px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}
.latest-head-link:hover {
  background-color: #998675;
  color: #fff;
}
.latest-head-link:active {
  background-color: #111;
  color: #fff;
}
.latest-article {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 40px 0;
}
.latest-btn-link,
.latest-btn-search {
  display: none;
  position: absolute;
  padding: 0;
  border: none;
  background-color: transparent;
  fill: #fff;
}
.latest-btn-link {
  top: 106px;
  left: 144px;
  transition: fill 0.2s ease-out;
}
.latest-btn-search {
  top: 106px;
  right: 144px;
  transition: fill 0.2s ease-out;
}
.latest-project {
  width: 370px;
  margin: 0 0 30px 0;
  position: relative;
}
.latest-project:hover .latest-btn-link {
  display: block;
}
.latest-project:hover .latest-btn-search {
  display: block;
}
.latest-project:hover .latest-btn-link:hover,
.latest-project .latest-btn-search:hover {
  fill: #c7b299;
  cursor: pointer;
}
.latest-project:hover .latest-btn-link:active,
.latest-project .latest-btn-search:active {
  fill: #fff;
  cursor: pointer;
}
.latest-project:hover {
  cursor: pointer;
}
.latest-project:hover .image-wrapper {
  background-color: #362f2d;
}
.latest-project:hover .image-wrapper:before {
  border-bottom: 15px solid #362f2d;
}
.latest-project:hover .image-wrapper-title {
  color: #fff;
}
.latest-project:hover .image-wrapper-txt {
  color: #c7b299;
}
.latest-project:hover .latest-project-image {
  filter: brightness(50%);
}
.latest-project:hover .latest-project:nth-last-child(-n+3) {
  margin: 0;
}
.latest-project-image {
  vertical-align: bottom;
  transition: filter 0.3s ease-out;
}
.image-wrapper {
  width: 100%;
  padding: 30px 0 30px 30px;
  box-sizing: border-box;
  background-color: #fbfaf8;
  position: relative;
  transition: background-color 0.3s ease-out;
}
.image-wrapper:before {
  content: "";
  border: 20px solid transparent;
  border-bottom: 15px solid #fbfaf8;
  position: absolute;
  top: -30px;
  left: 15px;
  transition: border 0.3s ease-out;
}
.image-wrapper-title {
  display: block;
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 500;
  line-height: '@height';
  letter-spacing: '@spacing';
  color: #c7b299;
  text-transform: capitalize;
  text-decoration: '@decoration';
  text-align: left;
  transition: color 0.3s ease-out;
}
.image-wrapper-txt {
  display: block;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: '@spacing';
  color: #d1d1d1;
  text-transform: capitalize;
  text-decoration: '@decoration';
  text-align: left;
  transition: color 0.3s ease-out;
}
.latest-load-more {
  display: inline-block;
  font-family: 'Raleway-ExtraBold';
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: '@spacing';
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  background-color: #998675;
  padding: 15px;
  width: 140px;
  text-align: center;
  transition: background-color 0.4s ease-out;
  margin: 0;
}
.latest-load-more:hover {
  background-color: #111111;
}
.latest-load-more:active {
  background-color: #998675;
}
.video-block {
  width: 100%;
  margin: 0 0 80px 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
video {
  vertical-align: bottom;
}
.video {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 600px rgba(0, 0, 0, 0.66) inset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.video-button {
  width: 100px;
  height: 100px;
  margin: 0 0 45px 0;
  outline: none;
  border-radius: 50%;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.2);
}
.video-play {
  fill: #fff;
  outline: none;
  transition: fill 0.3s ease-out;
}
.video-button:hover .video-play {
  cursor: pointer;
  fill: #c7b299;
}
.video-button:active .video-play {
  cursor: pointer;
  fill: #fff;
}
.video-title {
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: 500;
  line-height: '@height';
  letter-spacing: '@spacing';
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: '@decoration';
  margin: 0 0 30px 0;
}
.video-text {
  width: 552px;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: '@spacing';
  color: #ffffff;
  text-transform: '@transform';
  text-decoration: '@decoration';
  margin: 0 0 40px;
}
.video-time {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: '@spacing';
  color: #c7b299;
  text-transform: '@transform';
  text-decoration: '@decoration';
}
.mobile {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.mobile-img {
  display: block;
  width: 423px;
}
.mobile-title {
  width: 407px;
  font-family: 'Raleway-SemiBold';
  font-size: 30px;
  font-weight: 400;
  line-height: '@height';
  letter-spacing: '@spacing';
  color: #555555;
  text-transform: '@transform';
  text-decoration: '@decoration';
  padding: 0;
  margin: 0 0 40px 30px;
}
.mobile-txt {
  width: 657px;
  text-align: justify;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: '@spacing';
  color: #8c8c8c;
  text-transform: '@transform';
  text-decoration: '@decoration';
  padding: 0;
  margin: 0 0 45px 30px;
}
.mobile-list {
  width: 600px;
  margin: 0 0 0 80px;
  padding: 0;
  list-style-type: none;
}
.mobile-data {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: '@spacing';
  color: #8c8c8c;
  text-transform: '@transform';
  text-decoration: '@decoration';
  position: relative;
  padding: 0 0 0 30px;
}
.mobile-data:before {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  background-image: url(../img/icon-list.png);
  position: absolute;
  left: 0;
  top: 4px;
}
.counters {
  width: 100%;
  padding: 70px 500px;
  margin: 0;
  box-sizing: border-box;
  background-color: #f4f5f8;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  display: flex;
  justify-content: space-between;
}
.counters-block {
  text-align: center;
}
.counters-block:after {
  content: "";
  width: 30px;
  display: block;
  border: 1px solid #fff;
  margin: auto;
}
.counters-icon {
  fill: #c7b299;
  margin: 0 0 30px 0;
}
.counters-num {
  font-family: 'Montserrat-UltraLight';
  font-size: 48px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: '@spacing';
  color: #ffffff;
  text-transform: '@transform';
  text-decoration: '@decoration';
  padding: 0;
  margin: 0 0 21px 0;
}
.counters-text {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: '@spacing';
  color: #c7b299;
  text-transform: uppercase;
  text-decoration: '@decoration';
  padding: 0;
  margin: 0 0 30px 0;
}
.recent {
  width: 100%;
  padding: 80px 375px;
  box-sizing: border-box;
  text-align: center;
}
.recent-title {
  font-family: 'Raleway-SemiBold';
  font-size: 30px;
  font-weight: 400;
  line-height: '@height';
  letter-spacing: '@spacing';
  color: #555555;
  text-transform: capitalize;
  text-decoration: '@decoration';
  margin: 0 0 30px 0;
}
.recent-txt {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: '@spacing';
  color: #8c8c8c;
  text-transform: '@transform';
  text-decoration: '@decoration';
  width: 757px;
  margin: 0 auto 40px;
}
.recent-post {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
}
.recent-post-block {
  width: 370px;
  position: relative;
}
.recent-post-block:hover {
  background-color: #362f2d;
}
.recent-post-block:hover .recent-post-block-date {
  background-color: #c7b299;
}
.recent-post-block:hover .recent-post-block-month {
  background-color: #a48d72;
}
.recent-post-block:hover .recent-post-image {
  filter: brightness(50%);
}
.recent-post-block:hover .recent-post-block-title {
  color: #c7b299;
}
.recent-post-block:hover .recent-post-block-text {
  color: #fff;
}
.recent-post-block-date {
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: '@spacing';
  color: #ffffff;
  text-transform: '@transform';
  text-decoration: '@decoration';
  text-align: center;
  width: 50px;
  padding: 9px 0;
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 3px 3px 0 0;
  background-color: #363636;
  z-index: 3;
}
.recent-post-block-month {
  font-family: 'Roboto';
  font-size: '12px';
  font-weight: '400';
  line-height: 20px;
  letter-spacing: '@spacing';
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: '@decoration';
  text-align: center;
  width: 50px;
  padding: 7px 0;
  display: block;
  position: absolute;
  top: 55px;
  left: 20px;
  border-radius: 0 0 3px 3px;
  background-color: #252525;
  z-index: 3;
}
.recent-post-block-image {
  width: 100%;
  display: block;
  box-sizing: border-box;
  vertical-align: bottom;
}
.recent-post-block-title {
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 500;
  line-height: '@height';
  letter-spacing: '@spacing';
  color: #555555;
  text-transform: '@transform';
  text-decoration: '@decoration';
  margin: 30px 0 19px 30px;
}
.recent-post-block-text {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: '@spacing';
  color: #8c8c8c;
  text-transform: '@transform';
  text-decoration: '@decoration';
  margin: 0 0 27px 30px;
}
.recent-post-block-more {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: '@spacing';
  color: #c7b299;
  text-transform: capitalize;
  text-decoration: none;
  display: block;
  margin: 0 0 33px 30px;
  position: relative;
}
.recent-post-block-more:after {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  border: 5px solid transparent;
  border-left: 5px solid #c7b299;
  top: 4px;
  left: 85px;
}
.recent-post-block-more:hover {
  color: #fff;
}
.recent-post-block-more:active {
  color: #c7b299;
}
.recent-post-block-more:hover:after {
  border-left-color: #fff;
}
.recent-post-block-more:active:after {
  border-left-color: #c7b299;
}
.partners {
  width: 100%;
  box-sizing: border-box;
  padding: 140px 405px;
  background-image: url(../img/back-partner.png);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 0 600px rgba(0, 0, 0, 0.66) inset;
}
.main-footer {
  width: 100%;
  box-sizing: border-box;
}
.main-footer-block1 {
  padding: 80px 375px;
  box-sizing: border-box;
  background-color: #191919;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.waxom-info {
  width: 258px;
}
.waxom-info-logo {
  margin: 0 0 30px 0;
}
.waxom-info-txt {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: '@spacing';
  color: #555555;
  text-transform: '';
  text-decoration: none;
  margin: 0 0 30px 0;
  padding: 0;
}
.waxom-info-more {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: '@spacing';
  color: #d1d1d1;
  text-transform: capitalize;
  text-decoration: none;
  margin: 0 0 33px 30px;
  position: relative;
  margin: 0;
  padding: 0;
}
.waxom-info-more:hover {
  color: #c7b299;
}
.waxom-info-more:active {
  color: #fff;
}
.waxom-info-more:after {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  border: 5px solid transparent;
  border-left: 5px solid #d1d1d1;
  top: 4px;
  left: 85px;
}
.waxom-info-more:hover:after {
  border-left-color: #c7b299;
}
.waxom-info-more:active:after {
  border-left-color: #fff;
}
.footer-block-title {
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 700;
  line-height: '@height';
  letter-spacing: '@spacing';
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: '@decoration';
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 0 0 30px 0;
}
.recent-footer {
  width: 270px;
}
.recent-footer-txt {
  width: 100%;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0 0 20px 0;
  padding: 0;
  border-bottom: 1px solid #252525;
}
.recent-footer-txt:last-child {
  border-bottom: none;
}
.recent-footer-txt:hover .recent-footer-txt-date {
  color: #fff;
}
.recent-footer-txt:hover .recent-footer-txt-text {
  color: #c7b299;
}
.recent-footer-txt-date {
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: '@spacing';
  color: #363636;
  text-transform: capitalize;
  text-decoration: '@decoration';
  margin: 0 0 10px 0;
  padding: 0;
}
.recent-footer-txt-text {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: '@spacing';
  color: #555555;
  text-transform: '';
  text-decoration: '@decoration';
  margin: 0 0 20px 0;
  padding: 0;
}
.our-twitter {
  width: 270px;
}
.our-twitter-text {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: '@spacing';
  color: #555555;
  text-transform: '';
  text-decoration: '@decoration';
  margin: 0 0 10px 0;
  padding: 0;
}
.our-twitter-text-hour {
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: '@spacing';
  color: #363636;
  text-transform: '';
  text-decoration: '@decoration';
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #252525;
}
.our-twitter-text-hour:last-child {
  border-bottom: none;
}
.our-twitter-text-link {
  color: #00bff3;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.our-twitter-text-site {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #959595;
}
.drible {
  width: 270px;
}
.drible-img {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.drible-img-widget {
  margin: 0 0 10px 0;
}
.main-footer-block2 {
  width: 100%;
  box-sizing: border-box;
  padding: 45px 375px;
  background-color: #111;
  display: flex;
  justify-content: space-between;
}
.main-footer-block2-menu {
  display: flex;
  justify-content: space-between;
}
.main-footer-block2-menu-left {
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: '@spacing';
  color: #555555;
  text-transform: capitalize;
  text-decoration: none;
  margin: 0;
  padding: 0 10px 0 0;
  border-right: 1px solid #252525;
}
.main-footer-block2-menu-left:last-child {
  border-right: none;
}
.main-footer-block2-menu-left-name {
  text-decoration: none;
  color: #959595;
}
.main-footer-block2-menu-left-name:hover {
  color: #c7b299;
}
.main-footer-block2-menu-left-name:active {
  color: #fff;
}
.main-footer-block2-menu-right {
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: '@spacing';
  color: #555555;
  text-transform: '@transform';
  text-decoration: '@decoration';
  margin: 0;
  padding: 0 9px 0 0;
  border-right: 1px solid #252525;
}
.main-footer-block2-menu-right:last-child {
  border-right: none;
}
.main-footer-block2-menu-link {
  color: #959595;
}
.left {
  width: 400px;
}
.right {
  width: 330px;
}
.footer-block2-link {
  text-decoration: none;
}
.footer-block2-link:hover {
  color: #c7b299;
}
.footer-block2-link:active {
  color: #fff;
}
