/*
.text-style('@family', '@size', '@weight', '@height', '@spacing', '@color', '@transform', '@decoration');
*/
@font-face {
  font-family: 'Montserrat-UltraLight';
  src: url('../font/Montserrat/Montserrat-ExtraLight.ttf');
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../font/Montserrat/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url('../font/Raleway/Raleway-ExtraBold.ttf');
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('../font/Raleway/Raleway-SemiBold.ttf');
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url('../font/Raleway/Raleway-Bold.ttf');
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url('../font/Raleway/Raleway-Medium.ttf');
}
@font-face {
  font-family: 'Raleway';
  src: url('../font/Raleway/Raleway-Regular.ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto/Roboto-Regular.ttf');
}
body {
  margin: 0;
  padding: 0;
}
.container {
  width: 1920px;
  margin: 0 auto;
  padding: 0;
}
.main-header {
  width: 100%;
  padding: 30px 150px;
  box-sizing: border-box;
  background-image: url(../img/head-back.jpg);
  background-repeat: no-repeat;
  background-color: black;
  box-shadow: 0 0 0 600px rgba(0, 0, 0, 0.66) inset;
}
.control-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.logo {
  width: 185px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.logo-icon {
  fill: #fff;
}
.logo-name {
  font-family: 'Raleway';
  font-size: 34px;
  font-weight: 100;
  line-height: '@height';
  letter-spacing: -1.36px;
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
  margin: 0;
}
.logo:hover .logo-name {
  color: #c7b299;
}
.logo:hover .logo-icon {
  fill: #C7B299;
}
.logo:active .logo-name {
  color: #fff;
}
.logo:active .logo-icon {
  fill: #fff;
}
.link-home {
  display: block;
  text-decoration: none;
}
.menu {
  display: flex;
  width: 770px;
}
.menu-list {
  width: 637px;
  margin: 0 63px 0 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.menu-link {
  text-decoration: none;
  padding: 35px 0;
}
.menu-data {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: '@height';
  letter-spacing: '@spacing';
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: '@decoration';
}
.menu-data:hover {
  color: #c7b299;
}
.menu-data:active {
  color: #fff;
}
.icon-cart {
  fill: #fff;
  margin: 0 28px 0 0;
  padding: 30px 0;
}
.icon-search {
  fill: #fff;
  padding: 30px 0;
}
.icon-cart:hover {
  fill: #c7b299;
  cursor: pointer;
}
.icon-cart:active {
  fill: #fff;
  cursor: pointer;
}
.icon-search:hover {
  fill: #c7b299;
  cursor: pointer;
}
.icon-search:active {
  fill: #fff;
  cursor: pointer;
}
.slide {
  max-width: 590px;
  margin: 285px 516px 0 516px;
  text-align: center;
  position: relative;
}
.left-button {
  position: absolute;
  top: 94px;
  left: -475px;
  fill: #d1bfab;
}
.right-button {
  position: absolute;
  top: 94px;
  right: -475px;
  fill: #d1bfab;
}
.left-button:hover {
  fill: #555555;
}
.right-button:hover {
  fill: #555555;
}
.left-button:active {
  fill: #d1bfab;
}
.right-button:active {
  fill: #d1bfab;
}
.slide-name {
  font-family: 'Raleway';
  font-size: 36px;
  font-weight: 500;
  line-height: '@height';
  letter-spacing: '@spacing';
  color: #ffffff;
  text-transform: '@tranform';
  text-decoration: '@decoration';
  margin: 0 0 14px 0;
}
.slide-title {
  font-family: 'Raleway-ExtraBold';
  font-size: 52px;
  font-weight: 400;
  line-height: '@height';
  letter-spacing: '@spacing';
  color: #ffffff;
  text-transform: '@transform';
  text-decoration: '@decoration';
  margin: 0 0 19px 0;
}
.slide-text {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: '@spacing';
  color: #ffffff;
  text-transform: '@transform';
  text-decoration: '@decoration';
  margin: 0 0 52px 0;
}
.get-started {
  font-family: 'Raleway-ExtraBold';
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: '@spacing';
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 26px 85px;
  border-radius: 3px;
  background-color: #998675;
}
.get-started:hover {
  background-color: #111111;
}
.get-started:active {
  background-color: #998675;
}
.pagination {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 305px auto 0;
}
.circle {
  display: inline-block;
  width: 11px;
  height: 11px;
  border: 4px solid transparent;
  border-radius: 50%;
  background-color: #999898;
}
.circle:hover {
  border: 4px solid #d3c1ad;
  background-color: transparent;
  transform: scale(1.5);
}
.circle:active {
  border: 4px solid transparent;
  background-color: #999898;
}
.services {
  width: 1166px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  margin: 80px 375px;
}
.services:hover {
  cursor: pointer;
}
.services:active {
  cursor: pointer;
}
.services-cart {
  display: inline-block;
  width: 266px;
  text-align: center;
}
.services-button {
  border: none;
  background-color: transparent;
}
.services-icon {
  fill: #555555;
  margin: 0 0 30px 0;
}
.services-title {
  font-family: 'Raleway-SemiBold';
  font-size: 22px;
  font-weight: 400;
  line-height: '@height';
  letter-spacing: '@spacing';
  color: #555555;
  text-transform: capitalize;
  text-decoration: '@decoration';
  margin: 0 0 24px 0;
}
.services-text {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: '@spacing';
  color: #8c8c8c;
  text-transform: '@transform';
  text-decoration: '@decoration';
  margin: 0;
}
.services-cart:after {
  content: "";
  display: inline-block;
  border: 3px solid #f1eee9;
  width: 70px;
  text-align: center;
  margin: 30px 0 0 0;
}
.services-cart:hover:after {
  border: 3px solid #c7b299;
}
.services-cart:active:after {
  border: 3px solid #555555;
}
.services-cart:hover .services-icon {
  fill: #c7b299;
}
.services-cart:hover .services-title {
  color: #c7b299;
}
.services-cart:active .services-icon {
  fill: #555555;
}
.services-cart:active .services-title {
  color: #555555;
}
.realization {
  width: 1230px;
  min-height: 617px;
  margin: 83px 345px 0 345px;
  text-align: center;
  position: relative;
}
.realization-title {
  font-family: 'Raleway-SemiBold';
  font-size: 30px;
  font-weight: 400;
  line-height: '@height';
  letter-spacing: '@spacing';
  color: #555555;
  text-transform: '@transform';
  text-decoration: '@decoration';
  margin: 0 0 24px 0;
}
.realization-text {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 30px;
  line-height: 28px;
  letter-spacing: '@spacing';
  color: #8c8c8c;
  text-transform: '@transform';
  text-decoration: '@decoration';
  display: inline-block;
  width: 757px;
  margin: 0 0 40px 0;
}
.realization-img1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 245px;
  bottom: 0;
  z-index: -2;
}
.realization-img2 {
  position: absolute;
  left: 230px;
  right: 0;
  bottom: 0;
  top: 165px;
  z-index: -1;
}
.realization-img3 {
  position: absolute;
  left: 460px;
  right: 0;
  bottom: 0;
  top: 245px;
  z-index: -2;
}
.purchase {
  background-color: #4c3326;
  padding: 50px 375px;
}
